{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}

{% block main %}

<h2>Welcome to Kandicrafts !</h2>
<p>
    Welcome to your new Mezzanine powered website.
    Here are some quick links to get you started:
</p>

<ul class="thumbnails">
{% for product in products.object_list %}
<li>
    <a href="{{ product.get_absolute_url }}" class="thumbnail">
        {% if product.image %}
        <img src="{{ MEDIA_URL }}{% thumbnail product.image 100 100 %}">
        {% else %}
        <div class="placeholder"></div>
        {% endif %}
        <h6>{{ product }}</h6>
        {% if product.has_price %}
            {% if product.on_sale %}
            <span class="old-price">{{ product.unit_price|currency }}</span>
            {% trans "On sale:" %}
            {% endif %}
            <span class="price">{{ product.price|currency }}</span>
        {% else %}
        {% trans "Coming soon" %}
        {% endif %}
    </a>
</li>
{% endfor %}
</ul>

<ul>
    <li><a href="/admin/">Log in to the admin interface</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/content-architecture.html">Creating custom page types</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#templates">Modifying HTML templates</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html#why-isn-t-the-homepage-a-page-object-i-can-edit-via-the-admin">Changing this homepage</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/frequently-asked-questions.html">Other frequently asked questions</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/configuration.html#default-settings">Full list of settings</a></li>
    <li><a href="http://mezzanine.jupo.org/docs/deployment.html">Deploying to a production server</a></li>
</ul>

{% endblock %}
